<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <CodeCoverage>
    <Attributes>
      <Exclude>
        <Attribute>^System\.Diagnostics\.CodeAnalysis\.ExcludeFromCodeCoverageAttribute$</Attribute>
        <Attribute>^System\.CodeDom\.Compiler\.GeneratedCodeAttribute$</Attribute>
        <Attribute>^System\.Runtime\.CompilerServices\.CompilerGeneratedAttribute$</Attribute>
        <Attribute>^Microsoft\.EntityFrameworkCore\.Infrastructure\.DbContextAttribute$</Attribute>
      </Exclude>
    </Attributes>
    <Sources>
      <Exclude>
        <Source>.*[\\/]Migrations[\\/].*</Source>
        <Source>.*[\\/]obj[\\/].*</Source>
      </Exclude>
    </Sources>
  </CodeCoverage>
</Configuration>
